.Card_title {
  cursor: pointer;
}
.Card_img {
  height: 300px;
}
@media (min-width: 1025px) {
  .Cards_tank {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }
}
@media (min-width: 1025px) {
  .News_cards {
    margin-right: 10px;

    margin-left: 20px;
  }
  .Card_body {
    border: 1px solid black;
  }
}
@media (max-width: 1024px) {
  .Cards_tank {
    margin-top: 20px;
  }
  .Card_body {
    border: 1px solid black;
  }
}
